body {
  color: #fff;
  font-family: 'Macondo Swash Caps', cursive;
  text-align: center;
}

#bg {
  min-height: 100vh;
  background-image: url(../images/cave-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#titleContainer {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 100px;
}
#titleContainer h1{
  font-size: 5em;
}

#numContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 80px;
}
#numContainer h1{
  font-size: 5em;
}

.numBg {
  padding: 0px;
  margin: 5px 30px;
  border-radius: 15px;
  width: 300px;
  height: 177px;
  background-image: url(../images/mining-cart.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
.numBg h1 {
  margin-bottom: 45px;
}

#crystalsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 70px;
}

.crystalBtn {
  max-width: 150px;
  margin: 10px 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.crystalBtn:hover {
  max-width: 170px;
  margin: 0px;
}

.overlay {
  height: 240px;
  width: 500px;
  margin: 0px auto;
  position: absolute;
  top: calc(50vh - 120px);
  left: calc(50vw - 250px);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-image: url(../images/wood-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.8);
  border: 5px solid rgba(62, 36, 22, 1);
  font-family: 'Macondo Swash Caps', cursive;
}

#gameWin {
  isplay: none;
}

#gameLost {
  display: none;
}

#statsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
#statsContainer h3 {
  margin: 0px 10px;
}

@media only screen and (max-width: 550px) {
  #titleContainer, #numContainer{
    margin-bottom: 20px;
  }
  #titleContainer h1{
    font-size: 2.5em;
  }
  .overlay {
    width: 300px;
    height: 400px;
    left: calc(50vw - 150px);
    top: calc(50vh - 200px);
  }
  #statsContainer {
    margin-top: 10px;
  }
}
